<div class="top-circle"></div>

<div class="main-page">

    <div class="logout">

        <button mat-icon-button matTooltip="Logout" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
    
    <div class="mat-elevation-z8 card-wrapper container">

        <div class="loading-shade" *ngIf="submitting">
            <mat-spinner *ngIf="submitting"></mat-spinner>
        </div>

        <h2 class="text-muted text-center">Submit Ticket</h2>
        <div class="row">
            <div class="col-sm-12">
                <form autocomplete="off" name="submitTicketForm" [formGroup]="submitTicketForm">
                    <div class="row">

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Summary</mat-label>
                                <input matInput placeholder="Summary" nullValue required formControlName="summary">
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Dataset Name</mat-label>
                                <input matInput placeholder="Dataset Name" nullValue required
                                    formControlName="datasetName">
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Question type</mat-label>
                                <mat-select placeholder="Identify your question type" formControlName="questionType">
                                    <mat-option *ngFor="let option of questionTypeData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Production or Development</mat-label>
                                <mat-select
                                    placeholder="Production or Development? (Provide cluster related information)"
                                    formControlName="envType">
                                    <mat-option *ngFor="let option of envTypeData " [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Flow Type</mat-label>
                                <mat-select placeholder="Identify the type of your flow/ use case (Multiple choices)"
                                    multiple formControlName="flowUseCaseType">
                                    <mat-option *ngFor="let option of flowUseCaseTypeData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Execution Url</mat-label>
                                <input matInput placeholder="Execution Url" nullValue required
                                    formControlName="executionUrl">
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Which of the following steps is failing?</mat-label>
                                <mat-select placeholder="Which of the following steps is failing?"
                                    formControlName="failingStep">
                                    <mat-option *ngFor="let option of failingStepData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Is  your flow HP /ERAP ? </mat-label>
                                <mat-select placeholder="1 Choose One:" formControlName="affectionType">
                                    <mat-option *ngFor="let option of affectionTypeData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Line of Business</mat-label>
                                <mat-select placeholder="Choose the Line of Business" formControlName="businessLine">
                                    <mat-option *ngFor="let option of businessLineData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Do you have a UMP champion for your team ?</mat-label>
                                <mat-select placeholder="Do you have a UMP champion for your team ?"
                                    formControlName="hasChamp" (selectionChange)="onHasChampChange($event)">
                                    <mat-option *ngFor="let option of hasChampData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Are you a UMP Champion?</mat-label>
                                <mat-select placeholder="Are you a UMP Champion?" formControlName="isUmpChamp">
                                    <mat-option *ngFor="let option of isUmpChampData" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Assign the ticket to the chosen champion?</mat-label>
                                <mat-select [disabled]="isHasChampDisabled" placeholder="Assign the ticket to the chosen champion?" formControlName="assignChamp">
                                    <mat-option *ngFor="let option of championsNames" [value]="option">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Description" nullValue required
                                    formControlName="description"></textarea>
                                <mat-error>Required Field !</mat-error>
                            </mat-form-field>
                        </div>



                        <div class="col-sm-12" >

							<p class="text-center">Attachments</p>
                            <input type="file" class="hidden" (change)="updateFiles()" placeholder="Select File"  #file multiple /> 

                            <p class="text-center"> 
                                <button mat-fab class="blue"  type="button" (click)="file.click()">
                                    <mat-icon >attach_file</mat-icon>
                                </button>
                            </p>
                            <p class="text-center text-muted">Select files to upload</p>

                            <p *ngIf="(selectedFiles.length > 0)">Selected Files : </p>
                            <mat-chip-list>
                                <mat-chip color="primary" *ngFor="let file of selectedFiles ; let i = index">{{file.name}}
                                    <mat-icon class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted" 
                                    (click)="removeFile(i)" matchipremove="" role="img" aria-hidden="true">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        
                    </div>

                    </div>

                    <button mat-raised-button [color]="'primary'" (click)="submitTicket()">Submit</button>

                </form>

            </div>
        </div>
    </div>

</div>